
<div class="fashion_section">
    <div id="ana_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Popüler Ürünlerimiz</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            @foreach (var item in ViewBag.popular)
                            {
                                <div class="col-lg-4 col-sm-4">
                                    <div class="box_main">
                                        <h4 class="shirt_text">@item.Name</h4>
                                        <p class="price_text">Fiyat <span style="color: #262626;">$ @item.Price</span></p>
                                        <div class="tshirt_img"><img src="~/Content/Image/@item.Image"></div>
                                        <div class="btn_main">
                                            <div id="satinalBtn" class="sepet_bt"><a href="/Cart/AddCart/@item.Id"><i class="fa fa-shopping-cart"></i> Sepete Ekle</a></div>
                                            <div class="seemore_bt"><a href="/Product/ProductDetails/@item.Id">Daha fazla gör</a></div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
